@model MvcScaffoldingApplication.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>News</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">NewsDescription</div>
    <div class="display-field">@Model.NewsDescription</div>

    <div class="display-label">Author</div>
    <div class="display-field">@Model.Author</div>

    <div class="display-label">NewsDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.NewsDate)</div>

    <div class="display-label">Created</div>
    <div class="display-field">@String.Format("{0:g}", Model.Created)</div>

    <div class="display-label">Updated</div>
    <div class="display-field">@String.Format("{0:g}", Model.Updated)</div>

    <div class="display-label">Priority</div>
    <div class="display-field">@Model.Priority</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdNews }) |
    @Html.ActionLink("Back to List", "Index")
</p>


