@model IEnumerable<MvcScaffoldingApplication.Models.News>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            NewsDescription
        </th>
        <th>
            Author
        </th>
        <th>
            NewsDate
        </th>
        <th>
            Created
        </th>
        <th>
            Updated
        </th>
        <th>
            Priority
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdNews }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdNews }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdNews })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.NewsDescription
        </td>
        <td>
			@item.Author
        </td>
        <td>
			@String.Format("{0:g}", item.NewsDate)
        </td>
        <td>
			@String.Format("{0:g}", item.Created)
        </td>
        <td>
			@String.Format("{0:g}", item.Updated)
        </td>
        <td>
			@item.Priority
        </td>
    </tr>
}

</table>


